<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accès restreint</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>

    <h1>⛔ Accès restreint</h1>
    <p class="lead">Notre site est disponible uniquement du lundi au vendredi, de 9h à 17h.</p>
    <p class="lead">Veuillez nous contacter par téléphone au 01 23 45 67 89 ou par email à <a href="mailto:ada.dev@gmail.com">ada.dev@gmail.com</a>.</p>
    
</body>
</html>
